{% load django_vite %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RCTV</title>
    <meta http-equiv="refresh" content="{{ app.on_screen_duration_seconds }}; url=/app/{{ next_app_index }}">
    <style>
    html,
    body,
    iframe {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    </style>
    {% vite_hmr_client %}
    {% vite_asset 'app.ts' %}
</head>

<body>
    <iframe allow="autoplay" sandbox="allow-same-origin allow-scripts allow-top-navigation " referrerpolicy="strict-origin-when-cross-origin" width="100%" height="100%" src="{{ app.url }}" border="0" style="border:0" /></body>

</html>