<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style>
    body {
      line-height: 1.4;
      font-size: 16px;
      padding: 0 10px;
      margin: 50px auto;
      max-width: 650px;
    }

    #maincontent {
      max-width: 42em;
      margin: 15 auto;
    }
  </style>
</head>

<body>

  <div id='maincontent'>
    <h1>RCTV</h1>

    <h2>what is this??</h2>

    <p>an IRL tv dashboard at the <a href="https://recurse.com/">Recurse Center</a> with "tv apps" to bridge the
      physical-virtual schism</p>

    <p style='font-size:0.9rem'><i><b>~TODO include an image of the thing~</b></i></p>

    <h3>I have an app idea!</h3>

    <a href="https://github.com/gregsadetsky/recurselevision/issues/new">open an issue on the repo</a> and let us know!

    <h3>I want to develop an app!</h3>

    <p>TODO explain how to do that.... <code>&lt;script src=&quot;https://rctv.recurse.com/app-sdk.js&quot; /&gt;</code>
      etc.........??</p>

    <p>see <a href="https://github.com/gregsadetsky/recurselevision/issues/3">SDK roughly here</a>.</p>

    <hr />

    <p><a href="https://github.com/gregsadetsky/recurselevision">See the source code</a>. Code by <a
        href="https://jry.io/">Jacob Young</a> and <a href="https://greg.technology/">Greg Sadetsky</a>.</p>
  </div>

</body>

</html>
