{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style>
    body {
      line-height: 1.4;
      font-size: 16px;
      padding: 0 10px;
      margin: 50px auto;
      max-width: 650px;
    }

    #maincontent {
      max-width: 42em;
      margin: 15 auto;
    }
  </style>
</head>

<body>

  <div id='maincontent'>
    <h1>RCTV</h1>

    <p style='font-size:1.3rem'>A TV dashboard/platform/ecosystem located at the <a href="https://recurse.com/">Recurse Center</a> with "TV Apps" to try to bring everyone (remote and non-remote participants) together in wholesome ways.</p>

    <p style='margin-top:10px;margin-bottom:20px;font-size:1.2rem; background:#cff'>If you're part of the Recurse community, <a href="{% url 'developers' %}">please click here</a>!!</p>

    <p><a href="https://github.com/gregsadetsky/rctv">See the source code</a>. A project by <a
        href="https://jry.io/">Jacob Young</a> and <a href="https://greg.technology/">Greg Sadetsky</a>.</p>

    <img src="{% static 'core/rctv.jpg' %}" alt="rctv" style="width:100%;max-width:600px;">
  </div>

</body>

</html>
